.custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    /* Set the width of the scrollbar as per your preference */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Set the background color of the scrollbar thumb */
}